footer
  .clear-fix
    p.left.smaller © 2015 Kensho. All Rights Reserved. MIT License.
    ul.inline-list.smaller
      li
        a(href='https://github.com/kensho/git-pages') kensho/git-pages
      li
        a(href='https://github.com/kensho/git-pages/issues') Issues
      li
        p.faint.smaller version #{pkg.version}
